/*.articlePreviewName, .articlePreviewName a, .articlePreviewName a:visited {
    color: #4ac6b0;
    text-decoration: none;
}

.articlePreviewName a:hover {
    color: #86fce6;
}

.articlePreview {
    margin: 10px 0;
}*/
.paddingTop20{
    padding-top: 20px;
}
.paddingTop10{
    padding-top: 10px;
}
.turn{
    transform: rotate(90deg);
}
.recharts-wrapper{
    margin-right: 15px;
}

.marginBottom10{
    margin-bottom: 10px;
}