/*article {
    margin: 10px 0;
}

article>*{
    margin: 10px 0;
    padding: 5px 0;
}

article h1 {
    width: 100%;
    color: #4ac6b0;
    display: flex;
    flex-direction: row;

}

article textarea {
    width: 100%;
    resize: none;
}*/